body{
    margin: 0;
    /*font-size: 1em;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(Imagens/imagendefundo.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 254.8vh;
    background-position: right bottom;
    padding-bottom: 0;
    min-height: 100vh;

}
.grupo-cafe{
    float: right;
    width: 15em;
    height: 15em;
    margin-right: 5em;
    padding-bottom: 1em;
}

.grupo{
    float: right;
    width: 15em;
    height: 9em;
    margin-right: 5em;
    padding-bottom: 1em;
}

/*.unica{
    margin: 0;
    padding-bottom: 0;
    width: 126.5em;
    height: 40em;
}*/

h1{
    margin: 0;
    color: #078a2e;
    text-decoration: overline underline;
    font-size: 10em;
    text-align: center;
    padding-left: 1em;
}
.pn{
    line-height:1.5;
    color: #070707;
    font-size: 6em;
    text-align: center;
}

p{
    line-height:1.5;
    color: #9bf076;
    font-size: 4em;
    margin-left: 1em;
}

.rodape{
    background-color: #0a4c1f;
    color: #e76305;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 6em;
    letter-spacing: 5px;
    width: 34.5em;
    font-size: 4em;
}